*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family:Arial, Helvetica, sans-serif;
}
nav{
    padding : 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2D3E51;
}
.heading{
    color: white;

}
.nav-items-list{
    list-style: none;
    display: flex;
    align-items: center;
    gap:15px
}
.nav-items-list li a{
    font-size: 18px;
    color: white;
    cursor: pointer;
}
.nav-items-list li a:hover{
    text-decoration: underline;
}
.opt-area{
    display: flex;
    align-items:center;
    gap:15px
}
#search{
    width: 200px;
    height: 40px;
    outline: none;
    border:none;
    border-radius:10px;
    padding-inline: 5px;
    font-weight: 500;
}
.cart{
    font-size: 20px;
    text-decoration: none;
}

.main-section{
    width:100%;
    display:flex;
    padding: 20px;
    background-color: #f5f5f5;
    gap: 20px;
    /* height:90vh; */
}
.sidebar{
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    box-shadow:rgba(0,0,0,0.1)
}
.side-items-list{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 15px;
}
.side-items-list li a{
    font-size: 22px;
    text-decoration: none;
    color: #3498db;
    font-weight: 700;
}
.side-items-list li a:hover{
    color:#2980b9;
}
.items-section{
    display: flex;
    border-radius: 20px;
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap:20px
}
.item{
    background-color:white;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    gap:15px;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
}
.item:hover{
    box-shadow:0px 3px 10px rgba(0, 0, 0, 0.1);
}
.img-area{
    width: 240px;
    height: 240px;
    border-radius: 20px;
}
.img-area img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.details-area{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item-name{
    font-weight: 300;
    font-size: 16px;
    color: black;
}
.item-price{
    color: black;
    font-weight: 300;
    font-size: 18px;
}
.main-item{
   background-color: #f5f5f5;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 30px;
   height: 90vh;
}
.item-outer{
    border-radius: 20px;
    background-color: white;
    display: flex;
    width: 100%;
    padding: 10px;
}
.item-images{
    display: flex;
    width: 50%;
    padding: 15px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.item-image{
    width: 300px;
    height: 300px;
    border-radius: 15px;
}
.item-image img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.item-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:25px;
    width:50%;
}
.specific-item-name{
    color: #2c3e50;
    font-size: 50px;
    max-width: 70%;
    font-weight: 600;
}
.description{
    display:  flex;
    flex-direction: column;
    gap:10px
}
.description p{
    font-size: 18px;
    font-weight: 500;
    color: #555;
}

.size-area{
    display: flex;
    flex-direction: column;
}
.size-select-heading{
    font-size: 20px;
    font-weight: 700;
}
.size-items{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    max-width: 60%;
    padding-block: 10px;
}
.size-item{
    padding: 15px 20px;
    border-radius: 10px;
    background-color: #f5f5f5;
    color: #555;
    border: 1px solid gray;
    cursor: pointer;
}
.size-item:hover{
    background-color: #3498db;
    color: white;
}
.other-opts{
    display: flex;
    gap:20px;
}
#add-to-bag{
    background-color: #e74c3c;
    border: none;
    padding: 15px 25px;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    font-size: 18px;
}
#add-to-bag:hover{
    background-color: #c0392b;
}

#favourite{
    background-color: #f5f5f5;
    border: none;
    padding: 15px 25px;
    border-radius: 30px;
    color: #e74c3c;
    cursor: pointer;
    font-size: 18px;
}
#favourite:hover{
    background-color: #e74c3c;
    color: #f5f5f5;
}