@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    color: white;
}
body{
    background-color: #0a192f;
}
.ham{
    display: none;
    width: 100%;
    height: 40px;
    padding: 15px;
}
.ham svg{
    width: 30px;
    height: 30px;
}
.outer{
    width: 100%;
    display:flex;
    justify-content: space-between;
}
.sidebar{
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.details-area{
    padding: 15px 0px;
    display: flex;
    gap: 10px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: #0D2E3D;
}
.details-area img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.links-area{
    width: 80%;
    padding: 40px 0px;
}
.links-area ol{
    list-style: numbers;
    list-style-position: inside;
}
.links-area ol li{
    padding: 15px 0px;
    text-align: center;
}
.links-area ol li a{
    text-decoration: none;
}
.active{
    background-color: #0D2E3D;
}
.social-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: 100%;
}
.social-links a svg{
    width: 50px;
    height: 50px;
}
.main-content{
    width:75%;
    display: flex;
    flex-direction: column;
    margin: auto;
    gap:80px;
    padding:20px 30px;
}

header{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}
.sm-heading-top{
    color: rgb(208, 208, 82);
    font-size: 20px;
}
.heading{
    color: white;
    font-weight: 600;
    font-size: 60px;
    padding: 10px 0px;
}
.sm-heading-bottom{
    color: white;
    font-size: 20px;
}
.mobile-dp{
    display: none;
}

.work{
    display: flex;
    flex-direction: column;
    gap:15px
}
.section-heading{
    
    font-size: 30px;
    color: white;
}
.work-item{
    display: flex;
    width: 100%;
    background-color: #0c2f3d;
    border-radius: 10px;
    gap: 15px;
}
.work-img-area{
    width: 35%;
}
.work-img-area img{
    width: 100%;
    height: 100%;
    border-radius:10px 0px 0px 10px;
    border: none;
}
.work-details-area{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 65%;
    justify-content: center;
}
.work-details-area h2{
    font-size: 24px;
}
.work-details-area p{
    font-size: 18px;
}
.redirect-work{
    display: flex;
    gap: 5px;
    align-items: center;
}
 .redirect-work p{
     color:#829467;
 }
.redirect-work svg{
    width: 20px;
    height: 20px;
    color: white;
}
.view-all-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.view-all{
    background-color: transparent;
    border:1px solid #c5c5a5;
    color:#c5c5a5;
    padding :10px;
    border-radius: 10px;
    cursor: pointer;
}
.writing{
    display: flex;
    flex-direction: column;
    gap:15px
}
.writings{
    display: flex;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}
.writing-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 15px;
    width: 45%;
    border-radius: 10px;
    background-color: #0c2f3d;
}
.writing-img-area{
    width: 100%;
}
.writing-img-area img{
    width: 100%;
    height: 230px;
    border-radius: 10px;
}
.writing-details-area{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: start;
    gap:10px;
    padding:5px 0px;
}
.redirect-writing{
    display: flex;
    align-items: center;
    gap:5px;
}
.redirect-writing img{
    width: 20px;
    height: 20px;
}
.contact{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.contact p{
    width: 50%;
}
footer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-bottom: 50px;
}
footer h2{
    color: #c5c5a5;
}
.footer-links{
    list-style-type: none;
    display: flex;
    gap: 20px;
}
.footer-links li a{
    text-decoration: underline;
    color: #c5c5a5;
}

@media screen and (max-width:425px) {
    .ham{
        display: flex;
    }
    .sidebar{
        display: none;
    }
    header{
        align-items: center;
    }
    .main-content{
        width: 100%;
    }
    .heading{
        font-size: 30px;
    }
    .sm-heading-top{
        font-size: 15px;
    }
    .sm-heading-bottom{
        color: white;
        text-align: center;
    font-size: 15px;
    }
    .section-heading{
        text-align: center;
        font-size: 20px;
    }
    .work-item{
        flex-direction: column;
    }
    .work-img-area{
        width: 100%;
    }
    .work-img-area img{
    width: 100%;
    height: 100%;
    border-radius:10px 10px 0px 0px;
    border: none;
    }
    .work-details-area{
        gap: 10px;
        padding: 10px;
        width: 100%;
        justify-content: center;
    }
    .work-details-area h2{
    font-size: 20px;
    }
    .work-details-area p{
    font-size: 15px;
    }
    .writings{
        flex-direction: column;
        width: 100%;
    }
    .writing-item{
        width: 100%;
    }
    .contact{
        align-items: center;
    }
    .contact p{
        width: 100%;
        text-align: center;
    }
    .footer-links{
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    .mobile-dp{
        display: flex;
        width: 100%;
        justify-content: center;
        padding: 10px;
    }
    .mobile-dp img{
        width: 60px;
        height: 60px;
    }
}